.row
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    align-items: center;
    margin-left: 1rem;
}

.row h1
{
    font-size: 1rem;
    text-align: left;
}

.row img
{
    height: 3rem;
    background-color: var(--color);
    padding: 1rem;
    margin-left: -1rem;
    border-radius: 50%;
}

#names h1
{
    color: #786A50;
    font-size: 0.85rem;
}

.fossil
{
    grid-template-columns: repeat(4, 1fr);
}